*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header-container{
    width: 85%;
    margin: 2em auto;
    font-family: 'Poppins', sans-serif;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-section h1{
    font-size: 1.4em;
    font-weight: 700;
    color: #3A3A3A;
}
.nav-section ul{
    display: flex;
    align-items: center;
   
}
.nav-section ul li{
    list-style: none;
}
.nav-section ul li a{
    text-decoration: none;
    margin-right: 2em;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 1em;
}
/* banner section */
.banner{
    display: flex;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 4em;
    justify-content: space-between;
}
.banner-title{
    width: 48%;
}
.banner-title h1{
    color: #3A3A3A;
    font-size: 3.1em;
    font-weight: 700;
    /* margin-bottom: 0.5em; */
}
.banner-title p{
    font-size: 1em;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 1em;
}
button{
    border-radius: 41px;
    background: #E02C6D;
    padding: 1em 1.7em;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 700;
}
button .fa{
    margin-left: 0.8em;
}
button:hover{
    background: #580423;
    transition: 2s ease-in-out;
}
.banner-img{
    background: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    /* width: 48%; */
    max-width: 475px;
    max-height: 475px;
}
.banner-img img{
    max-width: 440px;
    max-height: 414px;
   
}
/* sponsor section */
.sponsor-container{
    width: 80%;
    margin: 8em auto;
}
.sponsor-section{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.sponsor-section img{
    /* width: 100%; */
    margin-right: 1.3em;
}
/* popular section */
.popular-section h1{
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    font-weight: 600;
}
.p-container{
    width: 75%;
    margin: 2em auto;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6em;
    
}
.card-container .card{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.card-container .card img{
    /* width: 90%; */
    margin-bottom: 0.7em;
   
}
.card-container .card h2{
    margin-bottom: 0.7em;
    color: #18191F;
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.card-container .card h4{
    margin-bottom: 0.7em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}
.card-container .card p{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #787885;
    font-family: Inter;
    font-weight: 700;
    line-height: 143%; /* 20.02px */
    letter-spacing: 0.252px;
}
/* featured section */
.f-container{
    width: 80%;
    margin: 5em auto;
}
.featured-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.featured-section .featured-img img{
    width: 100%;
}
/* .featured-section .featured-img{
    width: 38%;
}
.featured-section .featured-title{
    width: 50%;
} */
.featured-section .featured-title h1{
    color: #0A0826;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 0.4em;
}
.featured-section .featured-title p{
    max-width: 501px;
    color: #6C6C6C;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 1em;
}



@media screen and (max-width: 576px) {
    .nav-section, 
    .nav-section ul,
    .sponsor-section,
    .featured-section{
        flex-direction: column;
    } 
    .sponsor-section{
        margin-top: 1em;
    }
    
    .banner{
        flex-direction: column-reverse;
    }
    .nav-section ul,
    .banner-title,
    .sponsor-section img
    {
        margin-top: 1.5em;
    }
    .banner-img{
        background: url('./images/Circle\ design.svg');
        background-repeat: no-repeat;
        /* width: 100%; */
    }
    .card-container{
        
        grid-template-columns: 1fr;
       
    }
    /* .featured-section .featured-img{
        max-width: 100%;
    } */
    

}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-section,
    .featured-section
    {
        flex-direction: column;
    } 
    .banner{
        flex-direction: column-reverse;
    }
    .nav-section ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .nav-section ul,
    .banner-title
    {
        margin-top: 1.5em;
    }
    .sponsor-section{
        flex-wrap: wrap;
    }
    .card-container{
        
        grid-template-columns: repeat(2,1fr);
       
        
    }
    /* .featured-section .featured-img{
        max-width: 64%;
    } */
}